* {
    box-sizing: border-box;
}

body {
    background-color: #4db3b3;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    
}

.main {
    max-width: 1000px;
    margin: auto;
}

img {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

.content {
    background-color: #8edc9d;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}